body{
    font-family: "Newsreader";
}
nav.blu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #374D6C;
    gap: 10px
}

nav.blu li {
    float: left;
}

nav.blu a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

nav.blu a:hover {
    background-color: #0f3774;
}

img {
    max-width: 100%;
    padding-left: 3%;
}

h1{
    color: #374D6C;
    font-style: italic;
    font-weight: 1000;
    font-size: 60px;
    padding-left: 3%;
}
div.primo{
    display: flex;
    height: 70%;
    margin-top: 3%;
}
div.secondo{
    display: flex;
    height: 62%;
    margin-top: 3%;
}

p{
    margin-left: 3%;
    font-size: 35px;
    text-align: justify;
    margin-right: 3%;
    margin-top: 8%;
}

h2{
    color: #374D6C;
    font-style: italic;
    font-weight: 1000;
    font-size: 40px;
    padding-left: 3%;
}

div div div p{
    margin-left: 3%;
    font-size: 25px;
    text-align: justify;
    margin-right: 3%;
    margin-top: 15%;
}

div div div img{
    max-width: 450px;
    padding-left: 3%;
    width: 350px;
    height: 250px;
}

p.testo{
    color: #374D6C;
    font-style: italic;
    padding-top: 30%;
    width: 47%;
    font-size: 30px;

}

footer{
    background-color:#374D6C ;
    padding-top: 70px;
    padding-bottom: 10px;
    
}
footer p{
    color: white;
    font-size: 25px;
    
}



