body{
    font-family: "Newsreader";
}
nav.blu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #374D6C;
    gap: 10px
}

nav.blu li {
    float: left;
}

nav.blu a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

nav.blu a:hover {
    background-color: #0f3774;
}

img {
    width: 100%;
    padding-left: 3%;
    object-fit: cover;
}

h1{
    color: #374D6C;
    font-style: italic;
    font-weight: 1000;
    font-size: 60px;
    padding-left: 3%;
}
.primo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 70%;
    margin-top: 3%;
    max-width: 100%;
    
}
div.secondo{
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
}
div.contenitore
{
    margin: 40px auto;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(360px, 1fr));
    gap: 0px; 
}
p{
    margin-left: 10%;
    font-size: 2.5vw;
    margin-right: 3%;
    margin-top: 10%;
}

h2{
    color: #374D6C;
    font-style: italic;
    font-weight: 1000;
    font-size: 40px;
    padding-left: 3%;
}

div div div p{
    margin-left: 8%;
    font-size: 200%;
    margin-right: 3%;
    margin-top: 15%;
}

div div div img{
    max-width: 300px;
    max-height: 250px;
    padding-left: 3%;
    width: 100%;
    height: 275px;
}

p.testo{
    color: #374D6C;
    font-style: italic;
    padding-top: 5%;
    width: 47%;
    font-size: 30px;

}

footer{
    background-color:#374D6C ;
    padding-top: 70px;
    padding-bottom: 10px;
    
}
footer p{
    color: white;
    font-size: 25px;
    
}


@media (max-width: 1420px) {

    div div div p{
        font-size: 25px;
    }

}
